<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arda Management Tool</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/Layouts/ModernUI/css/core.css" />
</head>
<body>
    <main>
        <div class="main">
            <header class="navbar navbar-arda navbar-static-top" role="navigation">
                <nav class="container-fluid">

                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <strong>Arda</strong> Management Tool
                    </a>

                    <!-- Dynamic menu -->
                    @await Html.PartialAsync("_PartialDynamicMenu")

                </nav>
            </header>
            @RenderBody()
        </div>
    </main>
    <footer class="ctn-footer" style="margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <div class="media">
                        <div class="media-left">
                            <!-- ARDA brand -->
                        </div>
                        <span class="footer-credits">
                            &copy; Microsoft @DateTime.Now.Year
                                <a asp-controller="Home" asp-action="About" class="footer-credits-links">About</a>
                                <a asp-controller="Home" asp-action="Support" class="footer-credits-links">Support</a>
                                <a href="http://github.com/microsoft/arda" class="footer-credits-links">Github</a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <img src="~/Layouts/ModernUI/img/microsoft-logo.png" class="footer-logo">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="~/js/BasicOperations.js"></script>
</body>
</html>

