<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arda Management Tool</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/Layouts/ModernUI/css/core.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.autocomplete.min.js"></script>
</head>
<body>

    <main class="main">
        <header class="navbar navbar-arda navbar-default">
            <nav class="container-fluid">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Dashboard" asp-action="Index" class="navbar-brand">
                        <strong>Arda</strong> Management Tool
                    </a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <strong>Arda</strong> Management Tool
                    </a>
                }

                @await Html.PartialAsync("_PartialDynamicMenu")

            </nav>
        </header>
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <div class="media">
                        <div class="media-left">

                        </div>
                        <span class="footer-credits text-left">
                            &copy; Microsoft @DateTime.Now.Year
                        </span>
                        <a asp-controller="Home" asp-action="About" class="footer-credits-links">About</a>
                        <a asp-controller="Home" asp-action="Support" class="footer-credits-links">Support</a>
                        <a href="http://github.com/microsoft/arda" class="footer-credits-links">Github</a>

                    </div>
                </div>
                <div class="col-xs-3">
                    <img src="~/Layouts/ModernUI/img/microsoft-logo.png" class="footer-logo">
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal Need Help -->
    <div id="generic-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><!-- Dynamic content --></h4>
                </div>

                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>

        </div>
    </div>
    <!-- End modal -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/BasicOperations.js"></script>
</body>
</html>