@{
    ViewData["Title"] = "Welcome";
}

<div id="welcome-picture">
    <!-- Some beautiful dynamic image here -->
</div>

<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-3">
            <h2>Support</h2>
            <ul>
                <li>Coming soon.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li>Coming soon.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li>Coming soon.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Collaboration</h2>
            <ul>
                <li>Coming soon.</li>
            </ul>
        </div>
    </div>
</div>