<section class="concontainer-fluid">

    <div class="col-xs-12">
        <div class="row">
            <header class="ctn-header-dashboard">

                <!-- Title -->
                <div class="col-xs-12">
                    <h1>
                        My appointments this year
                    </h1>
                </div>

                <!-- Clear some garbage -->
                <div class="clearfix"></div>


            </header>

            <div>

                <div class="col-xs-12 panel-fiscal-yers">

                    <table id="table-appointments" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Workload</th>
                                <th>Appointment date</th>
                                <th>Hours dispensed</th>
                                <th>User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
       
            </div>

        </div>
    </div>
</section>