@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            
            <div class="account-wall">

                <img class="profile-img" src="~/images/avatar.svg" alt="">
                
                <form class="form-signin">

                    <input type="text" class="form-control" placeholder="Email" required autofocus style="width:100%;">
                    <input type="password" class="form-control" placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>

                    <label class="checkbox pull-left" style="margin-left:21px;">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    
                    <a class="pull-right need-help" data-toggle="modal" data-target="#GenericModal2" onclick="MountNeedHelpModal()" href="javascript:void()">Need help?</a>
                    
                    <span class="clearfix"></span>

                </form>
            </div>

            <a class="text-center new-account" data-toggle="modal" data-target="#GenericModal" onclick="MountRequestNewAccountModal()" href="javascript:void()">Request a new account </a>
        </div>
    </div>
</div>

<!-- Modal New Account -->
<div id="GenericModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            
            <form id="NewAccountRequest" role='form' data-toggle='validator'>
                
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><!-- Dynamic content --></h4>
            </div>
            <div class="modal-body">
                <!-- Dynamic content -->
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
            </form>
            
        </div>

    </div>
</div>
<!-- End modal -->

<!-- Modal Need Help -->
<div id="GenericModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <form id="RadioGroup" role='form' data-toggle='validator'>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><!-- Dynamic content --></h4>
                </div>
                <div class="modal-body">
                    <!-- Dynamic content -->
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </form>

        </div>

    </div>
</div>
<!-- End modal -->