<style>
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
</style>

<!--Messages-->
<div id="msgSuccess" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>
</div>

<div id="msgError" class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong>
</div>

<h1>Review Permissions</h1>
<p>You have <span id="numberOfPendingUsers"></span> users to approve. Type below the user and give him/her the desired permissions:</p>

<!--User Search-->
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input id="txtUser" type="search" class="form-control" placeholder="Type the user name">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Search User</button>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select User</h4>
            </div>
            <div class="modal-body">
                Data table
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>

<!--User Panel-->
<div class="row">
    <div class="col-lg-6">
        <div id="userInfo" class="panel panel-default">
            <div class="panel-body">
                <h4>User:</h4>
                <br />
                <img id="imgBox" width="200" height="200" src="~/images/Loading_icon.gif" />
                <p>Name: <span id="displayName"></span></p>
                <p>E-mail: <span id="mail"></span></p>
            </div>
        </div>
    </div>
</div>

<!--Permissions Panel-->
<div id="permissionsPanel">
    <div class="row">
        <div class="col-lg-4">
            <ul id="PermissionsList"></ul>

        </div>
    </div>

    <div class="row">
        <button id="btnClean" type="button" class="btn">Clean</button>
        <button id="btnUpdate" type="button" class="btn">Update Permissions</button>
    </div>

</div>

<script>
    var token = '@ViewBag.Token';

    $(function () {
        //Initialize:
        Initialize();
        //Get All Pending Users:
        getPendingUsers()
        //Populate #tableUsers:

        //Get All Permissions:
        $.getJSON('/users/ResourceItems', '', callbackGetResourceItems);
    });

    function Initialize() {
        $('#userInfo').hide();
        $('#msgSuccess').hide();
        $('#msgError').hide();
        $('#permissionsPanel').hide();       

        $('#txtUser').on('input', function (e) {
            if (!this.value) {
                clearForm();
            }
        });

        $('#btnClean').click(clearForm);
        $('#btnUpdate').click(updatePermissions);
    }

    function getPendingUsers() {
        var url = '/users/PendingUsers';
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            success: function (data, textStatus, jqXHR) {
                callbackGetPendingUsers(data);
            }
        });
    }

    //Autocomplete documentation: https://www.devbridge.com/sourcery/components/jquery-autocomplete/
    function callbackGetPendingUsers(data) {
        //Set number of pending users
        console.log(data);
        $('#numberOfPendingUsers').text(data.length);
        var autoCompleteData = formatDataForAutoComplete(data);
        //Populate #txtUser with users names:
        $('#txtUser').autocomplete({
            lookup: autoCompleteData,
            onSelect: PopulateUserInformations
        });
    }

    function formatDataForAutoComplete(data) {
        var list = [];
        for (var i = 0; i < data.length; i++) {
            var item = [];
            item['value'] = data[i]['name'];
            item['data'] = data[i]['email'];
            list.push(item);
        }
        return list;
    }

    function PopulateUserInformations(userData) {
        var auth = "Bearer " + token;
        var userID = userData.data;
        var name = userData.value;

        $('#imgBox').prop('src', "/images/Loading_icon.gif");
        GetImage(userID, auth);
        //GetProfile(userID, token);
        $('#mail').text(userID);
        $('#displayName').text(name)

        $('#userInfo').fadeIn();
        $('#permissionsPanel').fadeIn();
    }

    function GetProfile(user, auth) {
        var url = "https://graph.microsoft.com/v1.0/users/" + user;
        headerParams = { 'Authorization': auth };
        obj = {
            type: 'get',
            url: url,
            headers: headerParams,
            data: [],
            dataType: 'json',
            success: function (data) {
                $('#mail').text(data['mail']);
                $('#displayName').text(data['displayName'])
            }
        };
        $.ajax(obj);
    }

    function GetImage(user, token) {
        var url = "https://graph.microsoft.com/v1.0/users/" + user + "/photo/$value";
        var elem = "imgBox";
        GetImageBase64FromGraph(url, token, elem);
    }

    function GetImageBase64FromGraph(url, token, element) {
        var request = new XMLHttpRequest;
        request.open("GET", url);
        request.setRequestHeader("Authorization", token);
        request.responseType = "blob";
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200) {
                var image = document.getElementById(element);
                var reader = new FileReader();
                reader.onload = function () {
                    image.src = reader.result;
                }
                reader.readAsDataURL(request.response);
            }
        };
        request.send(null);
    }

    function callbackGetResourceItems(data) {
        for (var i = 0; i < data.length; i++) {
            var category = data[i].Category;
            var resources = data[i].Resources;

            var item = $('<li>');
            var title = $('<p>').text(category);
            item.append(title);

            var divControls = $('<div>').css('margin', '0 0 0 40px;');
            for (var j = 0; j < resources.length; j++) {
                var res = resources[j];
                var divControl = '<div class="input-group permission-group">' +
                                    '<span class="input-group-addon">' +
                                        '<input type="checkbox" disabled class="permissions-item" category="' + category + '" resource="' + res + '">' +
                                    '</span>' +
                                    '<input type="text" class="form-control" readonly value="' + res + '">' +
                                 '</div>';
                divControls.append(divControl);
            }
            item.append(divControls);
            $('#PermissionsList').append(item);
        }

        $('.permission-group').on('click', function (e) {
            var checkBox = $(this).children(":first").find('input');
            var value = checkBox.prop('checked');
            if (value == true) {
                checkBox.prop('checked', false);
            } else {
                checkBox.prop('checked', true);
            }
        });
    }

    function updatePermissions() {
        var items = $('.permissions-item');

        var selected = []
        items.each(function () {
            var obj = $(this);
            var attr = [];
            if (obj.prop('checked')) {
                attr.push(obj.attr('category'));
                attr.push(obj.attr('resource'));
                selected.push(attr);
            }
        });


        var permissions = '{ "permissions" : [';
        for (var i = 0; i < selected.length; i++) {
            permissions += '{ "category":"' + selected[i][0] + '" , "resource":"' + selected[i][1] + '" }';
            if (i < selected.length - 1) {
                permissions += ',';
            }
        }
        permissions += ']}';

        var user = $('#mail').text();
        var url = '/users/UpdatePermissions?user=' + user;


        $.ajax({
            url: url,
            type: "POST",
            data: permissions,
            success: function (data, textStatus, jqXHR) {
                if (data.IsSuccessStatusCode) {
                    $('#msgSuccess').fadeIn();
                } else {
                    $('#msgError').fadeIn();
                }
                //Update Pending Users:
                getPendingUsers();
                clearForm();
            }
        });
    }

    function clearForm() {
        $('#txtUser').val('');
        $('#userInfo').fadeOut();
        $('#permissionsPanel').fadeOut();

        $('.permissions-item').each(function () {
            $(this).prop('checked', false);
        });
    }

</script>