<h1>Review Permissions</h1>

<p>Token = @ViewBag.Token</p>



<button id="btn">Get Profile Image</button>
<img id="imgBox" width="100" height="100" />
@*<div class="user-picture-box">

</div>*@


<script>
    $(function () {
        console.log("ready!");

        var request = new XMLHttpRequest;
        request.open("GET", "https://graph.microsoft.com/v1.0/me/photo/$value");
        request.setRequestHeader("Authorization", "Bearer @ViewBag.Token");
        request.responseType = "blob";
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200) {
                var imageElm = document.getElementById("imgBox");
                var reader = new FileReader();
                reader.onload = function () {
                    // Add the base64 image to the src attribute
                    imageElm.src = reader.result;
                    //// Display the user's profile picture
                    //document.getElementsByClassName('user-picture-box')[0].appendChild(imageElm);
                }
                reader.readAsDataURL(request.response);
                console.log(reader.result);
            }
        };
        request.send(null);
    });
</script>