<header class="navbar navbar-arda navbar-static-top" role="navigation">
  <nav class="container-fluid">
    <a class="navbar-brand" href="#">ARDA</a>
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="icon-user" href="#">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" target="_blank">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index-carousel.html">Setting</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="concontainer-fluid">

  <div class="col-xs-12">
    <div class="row">
      <header class="ctn-header-dashboard">
        <div class="col-xs-12 col-lg-3 col-md-6">
          <h2>Placeholder title</h2>
        </div>
        <div class="col-xs-12 col-lg-3 col-md-6">
          <input type="radio" value="1" name="type"   class="dashboard-filter-field" id="dashboard-filter-type-1" />

          <label class="dashboard-filter" for="dashboard-filter-type-1">
            Type 1
          </label>

          <input type="radio" value="2" name="type" class="dashboard-filter-field" id="dashboard-filter-type-2" />

          <label class="dashboard-filter" for="dashboard-filter-type-2">
            Type 2
          </label>

          <input type="radio" value="3" name="type" class="dashboard-filter-field" id="dashboard-filter-type-3" />

          <label class="dashboard-filter" for="dashboard-filter-type-3">
            Type 3
          </label>

        </div>
        <div class="col-xs-12 col-lg-3 col-md-6">
          <select name="filter-assign" class="form-control dashboard-filter-assign">
            <option value="">TE Name 0</option>
            <option value="">TE Name 1</option>
            <option value="">TE Name 2</option>
            <option value="">TE Name 3</option>
            <option value="">TE Name 4</option>
            <option value="">TE Name 5</option>
          </select>
        </div>
        
        <div class="clearfix"></div>
      </header>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-lg-3 col-md-6">
            <h3>todo</h3>
          </div>
          <div class="col-xs-12 col-lg-3 col-md-6">
            <h3>doing</h3>
          </div>
          <div class="col-xs-12 col-lg-3 col-md-6">
            <h3>done</h3>
          </div>
          <div class="col-xs-12 col-lg-3 col-md-6">
            <h3>approved</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
