<section class="container">
  <div class="row wrapper-login">
    <div class="col-xs-12 col-lg-4 col-md-6  col-lg-offset-4 col-md-offset-3">
      <header class="login-header col-sm-12">
        <img src="img/fake-brand.png" title="ARDA"/>

      </header>
      <div class="ctn-login">

        <form action="#" method="POST">
          <div class="form-group has-icon-left form-control-name">
            <label class="sr-only" for="inputName">Your name</label>
            <input type="text" class="form-control form-control-md" id="inputName" placeholder="Your name" />
          </div>
          <div class="form-group has-icon-left form-control-password">
            <label class="sr-only" for="inputPassword">Enter a password</label>
            <input type="password" class="form-control form-control-md" id="inputPassword" placeholder="Enter a password" autocomplete="off" />
            <div class="col-lg-offset-6 col-md-offset-7 reset-login"><a href="#" class="reset-login--item">Forgot password?</a></div>
          </div>

          <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="row"><button type="submit" class="btn btn-block btn-login">Login</button></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
